:root {
  --grey: #504C64;
  --green: #6BC997;
  --white: #FDFDFD;
}

*{
 font-size: 16px;
}

.Mondegreen {
    display: none;
    padding: 12px;
    border: 2px dashed #9893b2;
    border-radius: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.Songdegreen {
  cursor: pointer;
}

.Songdegreen:hover ~ .Mondegreen {
    display: block;
}

.LOGO {
    display:block ;
    width: 60px;
}

.Songdegreen,
.songdefyTxt,
.faveSongTxt {
  font-family: 'Lobster', cursive;
}

.f-view {
    cursor: pointer;
}

.f-view:hover {
  color: var(--green);
}

main {
  display: inline-flex;
  padding: 20px;
  margin-top: 5%;
  margin-left: 20%;
}

.Song-name {
    
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.8em;
}


.btn-start {
  margin-top: 5%;
  text-align: center;
}

.btn-start1 {
  background-color: var(--grey);
  color: var(--white);
}

.btn-start1:hover {
  background-color: var(--green);
  border-color: var(--green);
}

.input {
  margin-top: 5%;
  display: none;
  flex-direction: row;
  justify-content: center;
  resize: none;
  height: 40px
}

.input-artist {
  margin-left: 15px;

}

.btn-defy {
  margin-left: 15px;
  background-color: var(--grey);
  color: var(--white);

}

.btn-defy:hover {
  background-color: var(--green);
  border-color: var(--green);
}

.Songdefied {
    margin-left: 80px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.6em;

}

.faveSongTxt {
  font-size: 1.55em;
}

.Lyrics{
    width: 600px;
    height: 400px;
    border: 2px solid var(--grey);
    border-radius: 15px;
    margin-left: 80px;
    font-weight: bold;
    white-space: pre;
    font-size: 1.2em;
    padding: 10px;
      
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  margin-left: 250px;
  margin-right: 50px;
  margin-top: 50px;

}
.Error{
  text-align: center;
  color: red;
  margin-top: 10%;
}
.Time-it-takes{
  margin-top: -100px;
  margin-left: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media screen and (max-width: 600px) {
    .LOGO {
      width: 60px;
      margin-left: 2.5%;
    }
    
    .f-view {
      font-size: 0.8em;
      padding-top: 5px;
      padding-right: 5px;
      
    }
    
    .Songdegreen {
      font-size: 1.5em;
    }
    
    .green {
      font-size: 1.2em;
    }
    
    main {
      display: inline-block;
      margin-left: 10%;
      margin-top: 2.5%;
    }
    
    
    .Song-name {
      font-size: 1.6em;
    }
    
    .Songdefied {
      font-size: 1em;
      margin-top: 10%;
      width: 250px;
      margin-left: 15%;
    }
    
    .Lyrics {
      width: 300px;
      height: 250px;
      margin-left: 15%;
    }
  }
  @media screen and (max-width: 376px){
    .Album-cover{
        margin-left: 5%;
    }
    .Songdefied{
        margin-left: 5%;
    }
    .Lyrics{
        margin-left: 5%;
    }
  }